* {
    user-select: none;
    outline: 0;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000000;
}

svg {
    background-color: #888888;
}

rect {
    background-color: #00ffff;
}

path {
    background-color: #ff00ff;
}

circle {
    background-color: #ffff00;
}

.indirect {
    stroke: #ff0000 !important;
}

.direct {
    stroke: #00ff00 !important;
}

.edge {
    stroke: #FFFFFF77 !important;
}